figure>img{
    width: 95%;
}
p{
    text-align: justify;
}
figure{
    margin: 1%;
}

/*HEADER*/
header{
    display: flex;
    flex-wrap: wrap;
    background-image: url(imagenes/home.jpeg);  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;
}

header>figure{
    flex:2;
    min-width: 100px;
}
header>h1{
    flex: 7;
    font-size: 6vw;
    text-align: center;
    min-width: 300px;
    font-family: sans-serif;
    text-transform: uppercase;
    color: #195e88;
}

/*INICIO NAV*/
nav{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    border: 1px solid #e7e7e7;
    background-color: #195e88;
}

nav>ul{
    margin-right: 1%;
    
}

nav>ul>li{
    list-style: none;
}

nav>ul>li>a{
    text-decoration: none;
    color: white;
}


/*FINAL NAV*/


/*MAIN*/
main{
    border: 1px solid black;
    padding: 1%;
    margin-top: 2%;
}
main>section{
    display: flex;
    flex-wrap: wrap;
}
main>section>article{
    flex: 1;
    min-width: 400px;
}
article>div{
    display: flex;
}
div>figure{
    flex: 1;
}

article:first-of-type{
    margin-right: 5%;
}

section>figure{
    flex: 1;
    border: 1px solid black;
    min-width: 150px;
}

h3{
    text-align: center;
    text-transform: uppercase;
}



/*FOOTER*/
footer{
    margin-top: 1%;
    padding: 3%;
    border: 1px solid black;
}
footer>p{
    text-align: right;
}
